.gal h1{
	background: #80ff00;
    border: 1px solid #b7801c;
    border-radius: 2px;
    color: black;
    display: block;
    font-size: 35px;
    font-weight: bold;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    padding-top: 16px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 16px;
    text-decoration: none;
    width: auto;
    text-align: center;
}


.content{background:white;}
.maincontent{
	border: 1px solid #b7801c;
    float: left;
    margin: 0 0px 0px 0;
    padding: 8px 20px;
    width: auto;
    height: auto;

} 

.samepost{}
.samepost h2{
	border-bottom: 2px solid #e0d6c7;
    color: #ac7511;
    font-size: 25px;
    margin-bottom: 20px;
    padding-top: 82px;
}
.samepost img{
	background: #fff;
	border: 1px solid #ebb450;
	float:left;
	margin-right:10px;
	padding:5px;
	width:200px;
}
.samepost p{
	font-size:16px;
	line-height:23px;
	text-align: justify;
}
.buynow{
	float:right;
	margin-top: 10px;
}
.buynow a{
	background: orange;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    display: block;
    font-size: 20px;
    padding: 6px 14px;
    text-decoration: none;
}
.buynow a:hover{color:blue;background:yellow;}