
.gal{
	
    
    height: 38px;
    margin-top: 5px;
    padding-top: 0px;
    text-align: center;
    background-color: #80ff00;
}
.gal h1{
	color: black;
    font-weight: bold;
    font-size: 35px;
    padding-top: 12px;
    height: 0px;
}
.content{
    margin-top: 100px;
    margin-bottom: 100px;
}


.gallery
{
     margin:0px 81px 0px 81px;
}

.gallery img
{
	width: 370px;
    padding: 10px;
    filter: grayscale(90%);
    transition: 1s;
    border-radius: 20px;
	height: 210px;
}
.gallery img:hover
{
filter: grayscale(0);
transform: scale(1.5);
}